<mat-card *ngFor="let event of events">
  <mat-card-header>
    <mat-card-title>Event "{{event.name}}"
      <span>({{event.address}})</span>
    </mat-card-title>
    <mat-card-subtitle>Registration open to: {{event.registrationOpenTo | date : short}} (attendants: {{event.numOfAttendants}}/{{event.maxAttendants}})</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="signUp(event)" *ngIf="event.registrationIsOpen && !event.alreadySignedUp && !event.gotToken">Sign Up</button>
    <button mat-button [disabled]="true" *ngIf="event.alreadySignedUp && !event.gotToken">Already Signed Up</button>
    <button mat-button [disabled]="true" *ngIf="event.alreadySignedUp && event.gotToken">{{event.tokensForPresence}} tokens received</button>
    <button mat-button [disabled]="true" *ngIf="!event.registrationIsOpen && !event.gotToken && !event.alreadySignedUp">Registraion is closed</button>
    <button mat-button (click)="showConfirmDialog(event)" *ngIf="currentAccountIsOrganizationOwner">Confirm Attendant Presence</button>
    <button mat-button (click)="closeEvent(event)" *ngIf="currentAccountIsOrganizationOwner">Close Event (pernamently)</button>

  </mat-card-actions>
</mat-card>


